---
{{# Website Data #}}
title: {{title}}
tags: {{tags|join(", ")}}

{{# SEO Data #}}
{{#
TODO: Add SEO standards in the future.
- Add meta data tags
- OG Graph tags
- Twitter Tags

Also consider canonical tags.
Canonical Tags: Medium uses canonical tags to avoid duplicate content issues if you’re republishing content. 
If you import an article from your blog to Medium, it can set a canonical link to the original article, 
signaling search engines that the original source is authoritative.
#}}
---

{{ content }}